body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ace_keyword {
  color: #24afd1 !important;  
}

.ace_constant {
  color: #ffa500 !important;  }

.ace_comment {
  color: #888888 !important;  
}

.ace_identifier {
  color: #ffffff !important;  
}